In [1]:
import pandas as pd
import requests
import os
from dateutil.relativedelta import relativedelta
from datetime import datetime as dt
import json

pd.set_option('display.max_columns',30)

In [2]:
start_date = (dt.now() - relativedelta(months=2)).strftime("%Y-%m-%d")
url_new = f"https://data.cityofchicago.org/resource/ajtu-isnz.json?$where=trip_start_timestamp >= '{start_date}T00:00:00' AND trip_start_timestamp <= '{start_date}T23:59:59'&$limit=213000000"
response_taxi = requests.get(url_new)
taxi_data = response_taxi.json()

In [3]:
taxi_trips = pd.DataFrame(taxi_data)

In [4]:
taxi_trips.drop(['pickup_census_tract', 'dropoff_census_tract'], axis=1, inplace=True)
taxi_trips.drop(['pickup_centroid_location', 'dropoff_centroid_location'], axis=1, inplace=True)
taxi_trips.dropna(inplace=True)

In [11]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude
count,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647,18647
unique,18647,2225,96,105,3609,2181,77,77,1153,995,14,100,2158,7,32,146,146,169,169
top,05328f177362e305a9497e46bc83a8ae385d3207,bd8e56507781dbc93fbb8a08e8d441b8d64f78a52affec...,2024-04-09T09:45:00.000,2024-04-09T17:30:00.000,0,0,8,8,9,0,0,0,3.25,Credit Card,Taxi Affiliation Services,41.97907082,-87.903039661,41.880994471,-87.632746489
freq,1,36,382,364,371,1858,3882,4734,749,8346,18616,12790,452,7955,3649,2130,2130,1520,1520

In [12]:
taxi_trips.to_csv(f'taxi_trips {start_date}.csv', index=False, sep = ';', encoding = 'utf-16')