In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

web_source = 'https://en.wikipedia.org/wiki/Community_areas_in_Chicago'

In [4]:
response = requests.get(url=web_source)
soup = BeautifulSoup(response.content, "html.parser")

In [8]:
#Oldal cím kiirása
title = soup.find(id="firstHeading")

In [10]:
title
print(title.string)

Community areas in Chicago

In [ ]:
print(soup.prettify())

In [ ]:
#Táblázatok megkeresése
soup.find_all('table')

In [14]:
#Táblázatok osztálynevei

# <table class="wikitable sortable plainrowheaders mw-datatable" style="text-align:right">
           
for table in soup.find_all('table'):
    print(table.get('class'))

['wikitable', 'sortable', 'plainrowheaders', 'mw-datatable']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']

In [ ]:
table = soup.find("table", class_="wikitable sortable plainrowheaders mw-datatable")
print(table.prettify())

In [ ]:
#A tábla első két sora és az utoldó sora nem érdekel bennünket, ezért a [2:-1] szeletelés
for row in table.tbody.find_all("tr")[2:-1]:
    print(row)
    print('-' * 100)

In [ ]:
for row in table.tbody.find_all("tr")[2:-1]:
    cells = row.find_all("td")
    print(cells[0].get_text(strip = True))

In [26]:
for row in table.tbody.find_all("tr")[2:-1]:
    header_cells = row.find("th")
    print(header_cells.a.get_text(strip=True))

Rogers Park
West Ridge
Uptown
Lincoln Square
North Center
Lake View
Lincoln Park
Near North Side
Edison Park
Norwood Park
Jefferson Park
Forest Glen
North Park
Albany Park
Portage Park
Irving Park
Dunning
Montclare
Belmont Cragin
Hermosa
Avondale
Logan Square
Humboldt Park
West Town
Austin
West Garfield Park
East Garfield Park
Near West Side
North Lawndale
South Lawndale
Lower West Side
Loop
Near South Side
Armour Square
Douglas
Oakland
Fuller Park
Grand Boulevard
Kenwood
Washington Park
Hyde Park
Woodlawn
South Shore
Chatham
Avalon Park
South Chicago
Burnside
Calumet Heights
Roseland
Pullman
South Deering
East Side
West Pullman
Riverdale
Hegewisch
Garfield Ridge
Archer Heights
Brighton Park
McKinley Park
Bridgeport
New City
West Elsdon
Gage Park
Clearing
West Lawn
Chicago Lawn
West Englewood
Englewood
Greater Grand Crossing
Ashburn
Auburn Gresham
Beverly
Washington Heights
Mount Greenwood
Morgan Park
O'Hare
Edgewater

In [28]:
data = []
for row in table.tbody.find_all("tr")[2:-1]:
    cells = row.find_all("td")
    header_cells = row.find("th")
    area_code = cells[0].get_text(strip = True)
    area_name = header_cells.a.get_text(strip=True)
    print(area_code)
    print(area_name)
    
    data.append({'Area code': area_code, 'Area name': area_name})

data

01
Rogers Park
02
West Ridge
03
Uptown
04
Lincoln Square
05
North Center
06
Lake View
07
Lincoln Park
08
Near North Side
09
Edison Park
10
Norwood Park
11
Jefferson Park
12
Forest Glen
13
North Park
14
Albany Park
15
Portage Park
16
Irving Park
17
Dunning
18
Montclare
19
Belmont Cragin
20
Hermosa
21
Avondale
22
Logan Square
23
Humboldt Park
24
West Town
25
Austin
26
West Garfield Park
27
East Garfield Park
28
Near West Side
29
North Lawndale
30
South Lawndale
31
Lower West Side
32
Loop
33
Near South Side
34
Armour Square
35
Douglas
36
Oakland
37
Fuller Park
38
Grand Boulevard
39
Kenwood
40
Washington Park
41
Hyde Park
42
Woodlawn
43
South Shore
44
Chatham
45
Avalon Park
46
South Chicago
47
Burnside
48
Calumet Heights
49
Roseland
50
Pullman
51
South Deering
52
East Side
53
West Pullman
54
Riverdale
55
Hegewisch
56
Garfield Ridge
57
Archer Heights
58
Brighton Park
59
McKinley Park
60
Bridgeport
61
New City
62
West Elsdon
63
Gage Park
64
Clearing
65
West Lawn
66
Chicago Lawn
67
West Englewood
68
Englewood
69
Greater Grand Crossing
70
Ashburn
71
Auburn Gresham
72
Beverly
73
Washington Heights
74
Mount Greenwood
75
Morgan Park
76
O'Hare
77
Edgewater

[{'Area code': '01', 'Area name': 'Rogers Park'},
 {'Area code': '02', 'Area name': 'West Ridge'},
 {'Area code': '03', 'Area name': 'Uptown'},
 {'Area code': '04', 'Area name': 'Lincoln Square'},
 {'Area code': '05', 'Area name': 'North Center'},
 {'Area code': '06', 'Area name': 'Lake View'},
 {'Area code': '07', 'Area name': 'Lincoln Park'},
 {'Area code': '08', 'Area name': 'Near North Side'},
 {'Area code': '09', 'Area name': 'Edison Park'},
 {'Area code': '10', 'Area name': 'Norwood Park'},
 {'Area code': '11', 'Area name': 'Jefferson Park'},
 {'Area code': '12', 'Area name': 'Forest Glen'},
 {'Area code': '13', 'Area name': 'North Park'},
 {'Area code': '14', 'Area name': 'Albany Park'},
 {'Area code': '15', 'Area name': 'Portage Park'},
 {'Area code': '16', 'Area name': 'Irving Park'},
 {'Area code': '17', 'Area name': 'Dunning'},
 {'Area code': '18', 'Area name': 'Montclare'},
 {'Area code': '19', 'Area name': 'Belmont Cragin'},
 {'Area code': '20', 'Area name': 'Hermosa'},
 {'Area code': '21', 'Area name': 'Avondale'},
 {'Area code': '22', 'Area name': 'Logan Square'},
 {'Area code': '23', 'Area name': 'Humboldt Park'},
 {'Area code': '24', 'Area name': 'West Town'},
 {'Area code': '25', 'Area name': 'Austin'},
 {'Area code': '26', 'Area name': 'West Garfield Park'},
 {'Area code': '27', 'Area name': 'East Garfield Park'},
 {'Area code': '28', 'Area name': 'Near West Side'},
 {'Area code': '29', 'Area name': 'North Lawndale'},
 {'Area code': '30', 'Area name': 'South Lawndale'},
 {'Area code': '31', 'Area name': 'Lower West Side'},
 {'Area code': '32', 'Area name': 'Loop'},
 {'Area code': '33', 'Area name': 'Near South Side'},
 {'Area code': '34', 'Area name': 'Armour Square'},
 {'Area code': '35', 'Area name': 'Douglas'},
 {'Area code': '36', 'Area name': 'Oakland'},
 {'Area code': '37', 'Area name': 'Fuller Park'},
 {'Area code': '38', 'Area name': 'Grand Boulevard'},
 {'Area code': '39', 'Area name': 'Kenwood'},
 {'Area code': '40', 'Area name': 'Washington Park'},
 {'Area code': '41', 'Area name': 'Hyde Park'},
 {'Area code': '42', 'Area name': 'Woodlawn'},
 {'Area code': '43', 'Area name': 'South Shore'},
 {'Area code': '44', 'Area name': 'Chatham'},
 {'Area code': '45', 'Area name': 'Avalon Park'},
 {'Area code': '46', 'Area name': 'South Chicago'},
 {'Area code': '47', 'Area name': 'Burnside'},
 {'Area code': '48', 'Area name': 'Calumet Heights'},
 {'Area code': '49', 'Area name': 'Roseland'},
 {'Area code': '50', 'Area name': 'Pullman'},
 {'Area code': '51', 'Area name': 'South Deering'},
 {'Area code': '52', 'Area name': 'East Side'},
 {'Area code': '53', 'Area name': 'West Pullman'},
 {'Area code': '54', 'Area name': 'Riverdale'},
 {'Area code': '55', 'Area name': 'Hegewisch'},
 {'Area code': '56', 'Area name': 'Garfield Ridge'},
 {'Area code': '57', 'Area name': 'Archer Heights'},
 {'Area code': '58', 'Area name': 'Brighton Park'},
 {'Area code': '59', 'Area name': 'McKinley Park'},
 {'Area code': '60', 'Area name': 'Bridgeport'},
 {'Area code': '61', 'Area name': 'New City'},
 {'Area code': '62', 'Area name': 'West Elsdon'},
 {'Area code': '63', 'Area name': 'Gage Park'},
 {'Area code': '64', 'Area name': 'Clearing'},
 {'Area code': '65', 'Area name': 'West Lawn'},
 {'Area code': '66', 'Area name': 'Chicago Lawn'},
 {'Area code': '67', 'Area name': 'West Englewood'},
 {'Area code': '68', 'Area name': 'Englewood'},
 {'Area code': '69', 'Area name': 'Greater Grand Crossing'},
 {'Area code': '70', 'Area name': 'Ashburn'},
 {'Area code': '71', 'Area name': 'Auburn Gresham'},
 {'Area code': '72', 'Area name': 'Beverly'},
 {'Area code': '73', 'Area name': 'Washington Heights'},
 {'Area code': '74', 'Area name': 'Mount Greenwood'},
 {'Area code': '75', 'Area name': 'Morgan Park'},
 {'Area code': '76', 'Area name': "O'Hare"},
 {'Area code': '77', 'Area name': 'Edgewater'}]

In [33]:
community_areas = pd.DataFrame(data)
community_areas['Area code'] = community_areas['Area code'].astype('int')
community_areas

    Area code           Area name
0           1         Rogers Park
1           2          West Ridge
2           3              Uptown
3           4      Lincoln Square
4           5        North Center
..        ...                 ...
72         73  Washington Heights
73         74     Mount Greenwood
74         75         Morgan Park
75         76              O'Hare
76         77           Edgewater

[77 rows x 2 columns]

In [37]:
community_areas.to_csv(r'..\data\community_areas_master.csv', index=False)